@media only screen and (min-width: 320px) and (max-width: 640px) {
	.products1 {
		column-count: 2;
	}
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
	.products1 {
		column-count: 2;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1260px) {
	.products1 {
		column-count: 3;
	}
}

@media only screen and (min-width: 1260px) {
	.products1 {
		column-count: 4;
	}
}

.products1 li {
	list-style: none;
	/*column-width: 200px;*/
	float: left;
	padding: 2px;
}

.products1 img {
	width: 300px;
	cursor: pointer;
}

.products h1 {
	color: #fff;
	cursor: pointer;
	font-weight: 900;
}
.products p{
	color: #fff;
}

.con-BG {
	background: url(../images/IMG_5727.JPG);
	padding-bottom: 50px;
}
/*.showIMG{
	margin: 0 auto;
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
}
*/